/* Resetando margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    position: fixed; /* Sidebar fixa */
    height: 100%; /* Preenche toda a altura da tela */
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar a {
    text-decoration: none;
    color: white;
    padding: 10px;
    background: #34495e;
    border-radius: 5px;
    text-align: center;
    display: block;
    margin-bottom: 10px;
    transition: background 0.3s ease;
}

.sidebar a:hover {
    background-color: #16a085;
}

.content {
    margin-left: 250px; /* Espaço para a sidebar */
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#qr-code {
    text-align: center;
}

#qr-code img {
    width: 200px;
    margin-top: 10px;
}

button {
    background-color: #27ae60;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2ecc71;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    .sidebar {
        width: 200px;
    }
    .content {
        margin-left: 200px;
    }
}

@media screen and (max-width: 480px) {
    .sidebar {
        width: 100%;
        height: auto;
    }
    .content {
        margin-left: 0;
    }
}
